<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisher.live.mapper.LiveGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fisher.live.entity.LiveGoods">
        <id column="id" property="id" />
        <result column="spu_code" property="spuCode" />
        <result column="product_info" property="productInfo" />
        <result column="media_id" property="mediaId" />
        <result column="media_expire_time" property="mediaExpireTime" />
        <result column="name" property="name" />
        <result column="price_type" property="priceType" />
        <result column="price" property="price" />
        <result column="price2" property="price2" />
        <result column="url" property="url" />
        <result column="live_goods_id" property="liveGoodsId" />
        <result column="live_room_ids" property="liveRoomIds" />
        <result column="live_audit_id" property="liveAuditId" />
        <result column="live_audit_status" property="liveAuditStatus" />
        <result column="live_is_offline" property="liveIsOffline" />
        <result column="live_cover_img_url" property="liveCoverImgUrl" />
        <result column="live_last_code" property="liveLastCode" />
        <result column="live_last_message" property="liveLastMessage" />
        <result column="goods_sync_status" property="goodsSyncStatus" />
        <result column="tenant_id" property="tenantId" />
        <result column="org_code" property="orgCode" />
        <result column="plaza_code" property="plazaCode" />
        <result column="store_id" property="storeId" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="last_update_id" property="lastUpdateId" />
        <result column="last_update_name" property="lastUpdateName" />
        <result column="status" property="status" />
        <result column="version" property="version" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_code, product_info, media_id, media_expire_time, name, price_type, price, price2, url, live_goods_id, live_room_ids, live_audit_id, live_audit_status, live_is_offline, live_cover_img_url, live_last_code, live_last_message, goods_sync_status, tenant_id, org_code, plaza_code, store_id, remark, create_time, update_time, create_id, create_name, last_update_id, last_update_name, status, version
    </sql>

</mapper>
