<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisher.live.mapper.LiveRoomsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fisher.live.entity.LiveRooms">
        <id column="id" property="id" />
        <result column="live_room_id" property="liveRoomId" />
        <result column="live_room_name" property="liveRoomName" />
        <result column="cover_img" property="coverImg" />
        <result column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="plaza_code" property="plazaCode" />
        <result column="plaza_name" property="plazaName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="is_offline" property="isOffline" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="last_update_id" property="lastUpdateId" />
        <result column="last_update_name" property="lastUpdateName" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="orgcode" property="orgcode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, live_room_id, live_room_name, cover_img, store_id, store_name, plaza_code, plaza_name, start_time, end_time, is_offline, create_time, update_time, create_id, create_name, last_update_id, last_update_name, status, version, orgcode
    </sql>

</mapper>
