<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">

    <springProperty name="p1" source="v1"/>
    <springProperty scope="context" name="logging.path" source="logging.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{requestId}] - %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="LOGGER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
<!--        <file>${logging.path}/logback-demo/%d{yyyy-MM-dd HH:mm:ss.SSS}-log.log</file>-->

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/weblfux-demo/%d{yyyy-MM-dd}-log.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{requestId}] - %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

<!--    <root level="DEBUG">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--        <appender-ref ref="LOGGER_FILE"/>-->
<!--    </root>-->

    <!-- dev log-->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGGER_FILE"/>
        </root>
    </springProfile>

    <!-- sit log-->
    <springProfile name="sit">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- uat log-->
    <springProfile name="uat">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- prod log-->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="LOGGER_FILE"/>
        </root>
    </springProfile>

</configuration>